.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.comment-item {
  list-style-type: none;
}
.comment-container {
  display: flex;
}
.comment-line {
  border: 1px solid #dee0e3;
  width: 100%;
  margin-top: 12px;
}
.active-btn {
  color: #0ea5e9;
  background-color: transparent;
  outline: none;
  border: none;
}
.initial-con {
  text-align: center;
}
.initial {
  color: white;
}
.box {
  margin: 10px;
}
.username-time-container {
  display: flex;
}
.username {
  color: #334155;
  font-family: 'Roboto';
  font-weight: bold;
  margin-right: 12px;
  font-size: 22px;
  margin-top: 10px;
}
.time {
  color: #94a3b8;
  font-size: 14px;
}
.comment {
  color: #64748b;
  margin-top: 6px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
}
.like-container {
  display: flex;
}
.like-image {
  margin-right: 16px;
}
.like-button {
  background-color: transparent;
  color: #7e858e;
  outline: none;
  border: none;
}
.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
